.navbarlinks a.active:hover,
.navbarlinks a.active,
.navbarlinks.selected { 
  @apply bg-indigo-900 text-white p-2  px-3 ;
}
.navbarlinks a {
  text-decoration: none; 
  @apply p-2 px-3 rounded hover:bg-indigo-800  
}
 

.headerboost {
  height: 46px;
}

.headerrow {
  height: 48px;
}
.headericonbox {
  padding-top: 8px;
}
.headericon {
  height: 1.4em;
}
/* .bx--header{
    background-color: rgb(199, 29, 29);
    border: 10px solid green;
} */

.headermain {
  z-index: 5000;
}

.gitlogo {
  position: absolute;
  top: 14px;
}
.gitlogotext {
  margin: 0px 0px 0px 20px;
}
.headerbox::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: #000;
  /* -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0; */
  transform-origin: 100% 0;
  /* -webkit-transform: skew(-45deg);
  -ms-transform: skew(-45deg); */
  transform: skew(-45deg);
  z-index: -1;
}