html,
body {
  height: 100%;
  font-family: 'IBM Plex Sans';
  background: #fff;
}

.border {
  border: 1px solid #000
}

.containerwrap {
  display: flex;
  flex-direction: row;
  height: 100%;
}


.sidebar {
  background: white;
  width: 210px;
  border-right: 1px solid #f0f3f6
}

.sidebarlinks {

  border-bottom: 1px solid #f0f3f6;

}

.sidebarlinks a {
  text-decoration: none;
  color: #152934;
  width: 100%;
  height: 100%;
  display: block;
  padding: 10px 0px 10px 10px;
}

.sidebarlinks:hover {
  background: #f0f3f6;
  cursor: pointer;
  border-left: 4px solid #152934;
}

.sidebarselected {
  border-left: 4px solid #152934;
  background: #f0f3f6;
}

.pad20 {
  padding: 20px;
}

.sidebarcontent {
  flex: 1;
  padding: 20px;
}

.maincontent {
  display: flex;
  flex-direction: column;

}

.bottomcontent {
  flex: 2;
  border-top: 1px solid #f0f3f6;
  background: white
}

.containerwrap>* {}

@media all and (max-width: 540px) {
  .aside {
    flex: 1 auto;
  }
}

@media all and (min-width: 800px) {
  .maincontent {
    flex: 3 0px;
  }

  .sidebar {
    order: 1;
  }

  .maincontent {
    order: 2;
  }

  .footer {
    order: 3;
  }
}

.examplebox {
  padding-bottom: 100px;
  margin-bottom: 50px;
  background: #fff;
}

.lighttext {
  font-weight: 200
}

.authornames {
  padding: 10px 0px 0px 0px;
  font-weight: bold;
}

.sidebartitle {
  margin: 0px 0px 10px 0px
}

.sidebardesc {
  padding: 10px;
  margin-top: 15px;
  background: #f0f3f6;
}

.maintitle {
  margin: 0px 0px 30px 0px
}

 
.vega-actions {
  text-align: right;
  font-size: 0.8vw;
}
 

.vega-actions a {
  margin-right: 10px;
  text-decoration: none;
}


#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #f0f3f6;
  padding: 14px;
  background: #fff;
}

#footer a {
  text-decoration: none;
}

.inoutbox {
  margin: 0px;
  padding: 10px;
  color: #152934;
  overflow: scroll;
}

.inoutcontent {
  border: 1px solid #B3BAC0;
  height: 100%;
  padding: 10px;
  overflow: scroll;
}

.inoutheader {
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #f0f3f6;
  margin-bottom: 10px;
}

.inputdata {
  height: 200px;
}

.sampleinput {
  width: 270px;
  display: inline;
}

.rnnsampleloader {
  display: inline-block;
}
 
.hidden {
  display: none;
}

/* toast */

.toastDivBox {
  position: absolute;
  top: 0;
  right: 0;
}

.disqusbox {
  margin: 10px;
}
.graphdescription {
  border-bottom: 2px solid #f0f3f6;
  padding: 10px 10px 10px 0px;
  font-size: 1.2em;
}
.abstractcontent {
  font-weight: lighter;
  padding: 10px 10px 10px 0px;
  line-height: 150%
}
